 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Acumin', sans-serif;
}

.body-quest-index{
  background-image: url(../images/background.png);
  background-size: cover;
}

section{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

#frontpage-logo {
  width: 70%;
  margin: 20px auto;
}


  #logo-themes {
    width: 35%;
    margin: 0px auto;
  }


.login {
display: flex;
  background-color: white;
  border-radius: 100px;
  width: 90%;
  height: 40%;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: solid white 1px;
}
.login > h2 {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  color:black;
  margin-left: 30px;

}

#guest{
  margin: 0 auto;
  margin-top: 50px;

  width: 50%;
  padding: 20px;
  background: #DF8600;
  border-radius: 100px;
  text-align: center;
}
#guest > a {
  text-decoration: none;
  color: white;
}


.icon{
  float: left;
  margin-left: 10px;
  height: 10%;
  width: 10%;
}

.scenarie-btn {
  padding: 15px;
  margin-bottom: .5em;
  background: darkgreen;
  border-radius: 100px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 78px;
}
.scenarie-icon {
  width: 15%;
}
.scenarie-btn > .quiz-button {
  margin: 0 auto;
}

#quiz-controls, #quiz-counter, #quiz-results-screen {
  text-align: center;
}

#quiz-counter {
  color: white;

}

#quiz-results, .question {
  font-size: 1.25em;
  text-align: center;
  color: white;
  margin: 40px;
  font-weight: bold;
}

.quiz-container {
  padding: 1em;
  width: 100%;
  text-align: center;
}

.quiz-container a {
  text-decoration: none;
}

.answers {
  list-style: none;
  padding: 0;
}

.answers a {
  display: block;
  padding: 20px;
  margin-bottom: .5em;
  background: darkgreen;
  border-radius: 100px;
  color: white;
}

.answers a.correct {
  background: #13E213;
}

.answers a.incorrect {
  background: #c00;
}

#quiz-buttons a, #quiz-controls, .quiz-container .quiz-button {
  padding: 10px;
  color: #fff;
  border-radius: 100px;
}
#quiz-buttons > #quiz-next-btn {
  margin: 20px;
  width: 50%;
  padding: 20px;
}
#quiz-buttons > #quiz-finish-btn {
  margin: 20px;
  width: 50%;
  padding: 20px;
}

#quiz-start-screen {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#quiz-start-screen > a {
  width: 50%;
}
#quiz-start-screen > a > img {
  width: 100%;
}

#scenarie-container {
  width: 100%;
  color: white;
  margin-bottom: 30px;

}
#choose {
  width: 50%;
  text-decoration: none;
  background: #DF8600;
  border-radius: 100px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;

}


#choose a {
  color: white;
}
.choose-btn {
  width: 100%;
}

.answers a.correct, .answers a.incorrect {
  color: #fff;
}

#quiz-buttons a, .quiz-container .quiz-button {
  display: inline-block
}

#quiz-buttons a {
  background: #DF8600;
  color: white;
}

.quiz-results-state #quiz-controls {
  background: 0 0;
  padding: 0
}

.quiz-results-state #quiz-buttons a {
  width: 50%;
  text-decoration: none;
  background: #DF8600;
  border-radius: 100px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
}



/*MEDIAQUERIES FOR IPAD*/

@media (min-width: 768px) {
  #frontpage-logo {
    width: 50%;
  }

  .login {
    width: 70%;
  }

  #guest {
    width:30%;
  }

  #quiz-start-screen {
    width: 90%;
    margin:0 auto;
  }

  .quiz-button {
    padding: 20px;
  }

  .quiz-container {
    width: 90%;
    margin: 0 auto;
  }

  .answers {
    margin: 30px;
  }

  #quiz-counter {
    font-size: 20px;
  }

  .question {
    font-size: 2em;
  }
}

/*STYLING FOR INFORSIDE*/
#body-infoside {
  background-color: #458207;
  background-image: linear-gradient(-90deg, #458207, #2ae02e);
}

#logo-info-container {
width: 30%;
margin: 0 auto;
}

#logo-infoside-img {
  width: 100%;
}

#instagram-container {
width: 90%;
margin: 0 auto;
}
