 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Acumin', 'Au Passata', sans-serif;
}

@font-face {
  font-family: 'Au Passata';
  src: url('Font/AUPassata_Rg.ttf');
}

.body-quest-index{
  background-image: url(../images/background.png);
  background-size: cover;
}

section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

#frontpage-logo {
  width: 70%;
  margin: 20px auto;
}


  #logo-themes {
    width: 20%;
    margin: 0px auto;
  }

.login {
display: flex;
  background-color: white;
  border-radius: 100px;
  width: 90%;
  height: 40%;
  margin: 5px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: solid white 1px;
}
.login > h2 {
  font-size: 16px;
  font-weight: normal;
  text-decoration: none;
  color:black;
  margin-left: 30px;

}

#guest{
  margin: 0 auto;
  margin-top: 40px;

  width: 50%;
  padding: 20px;
  background: #DF8600;
  border-radius: 100px;
  text-align: center;
}
#guest > a {
  text-decoration: none;
  color: white;
}


.icon{
  float: left;
  margin-left: 10px;
  height: 10%;
  width: 10%;
}

.scenarie-btn {
  padding: 15px;
  margin: 0 auto;
  margin-bottom: .5em;
  background: darkgreen;
  border-radius: 100px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 78px;
  width: 90%;
}
.scenarie-icon {
  width: 15%;
}
.scenarie-btn > .quiz-button {
  margin: 0 auto;
}

#quiz-controls, #quiz-counter, #quiz-results-screen {
  text-align: center;
}

#quiz-counter {
  color: white;

}

#quiz-results, .question {
  font-size: 1.25em;
  text-align: center;
  color: white;
  margin: 40px;
  font-weight: bold;
}

.quiz-container {
  width: 100%;
  text-align: center;
}

.quiz-container a {
  text-decoration: none;
}

.answers {
  list-style: none;
  padding: 0;
}

.answers a {
  display: block;
  padding: 20px;
  margin: 0 auto;
  margin-bottom: .5em;
  background: darkgreen;
  border-radius: 100px;
  color: white;
  width: 90%;
}

.answers a.correct {
  background: #13E213;
}

.answers a.incorrect {
  background: #c00;
}

#quiz-buttons a, #quiz-controls, .quiz-container .quiz-button {
  padding: 10px;
  color: #fff;
  border-radius: 100px;
}
#quiz-buttons > #quiz-next-btn {
  margin: 20px;
  width: 50%;
  padding: 20px;
}
#quiz-buttons > #quiz-finish-btn {
  margin: 20px;
  width: 50%;
  padding: 20px;
}

#quiz-start-screen {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#quiz-start-screen > a {
  width: 50%;
}
#quiz-start-screen > a > img {
  width: 100%;
}

#scenarie-container {
  width: 100%;
  color: white;
  margin-bottom: 30px;

}
#choose {
  width: 50%;
  text-decoration: none;
  background: #DF8600;
  border-radius: 100px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

#choose a {
  color: white;
}
.choose-btn {
  width: 100%;
}

.answers a.correct, .answers a.incorrect {
  color: #fff;
}

#quiz-buttons a, .quiz-container .quiz-button {
  display: inline-block
}

#quiz-buttons a {
  background: #DF8600;
  color: white;
}

.quiz-results-state #quiz-controls {
  background: 0 0;
  padding: 0
}

.quiz-results-state #quiz-buttons a {
  width: 50%;
  text-decoration: none;
  background: #DF8600;
  border-radius: 100px;
  padding: 20px;
  margin: 0 auto;
  margin-top: 20px;
}

/*STYLING FOR INFORSIDE*/
#body-infoside {
  background-color: #458207;
  background-image: radial-gradient(#5AC900, #43B929, #458207);
}

#wrapper {
  width: 100%;
  margin: 0px auto;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#instructions-container {
  margin-left: 50px;
}

#instructions-container > ol{
    margin-left: 50px;

}

#instructions-list {
color: #FFF;
padding-top: 60px;
font-size: 18px;
}

#instructions-list > li{
  font-family:'Au Passata' sans-serif;
}

#iphones-container {
  padding: 100px;
}

#iphones-img {
  width: 100%;
}

#instagram-container {
margin-right: 50px;
}

#h2-info {
  color: #FFF;
  text-align: center;
  margin: 0 auto;
}

#download-wrapper {
  width: 500px;
  margin: 5px auto;
  display: flex;
  justify-content: center;
  flex-direction: columns;
  cursor: pointer;
}

.download-buttons:hover {
  box-shadow: 0px 2px 20px;
}

.download-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid white;
  border-radius: 100px;
  background-color: #FFF;
  width: 210px;
  padding: 0.5em;
  margin: 0.5em;

}

.download-txt {
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

/*MEDIAQUERIES FOR IPAD*/

@media (min-width: 768px) {
  #frontpage-logo {
    width: 50%;
  }

  .login {
    width: 70%;
  }

  #guest {
    width:30%;
  }

  #quiz-start-screen {
    width: 90%;
    margin:0 auto;
  }

  .quiz-button {
    padding: 20px;
  }

  .quiz-container {
    width: 90%;
    margin: 0 auto;
  }

  .answers {
    margin: 30px;
  }

  #quiz-counter {
    font-size: 20px;
  }

  .question {
    font-size: 2em;
  }
}

@media (max-width: 375px) {
  #body-infoside {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }
  #instructions-container{
    margin: 0 auto;
    grid-row: 2;
    padding-top: 0px;
    width: 100%;
  }

  #instructions-list{
    padding: 0px;
    width: 100%;

  }

  #iphones-container{
    grid-row: 1;
    width: 100%;
    padding: 20px;
  }
  #download-wrapper{
    flex-direction: column;
    grid-row: 3;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
  #instagram-container{
  grid-row: 4;
  margin: 0 auto;
  width: 100%;

  }
}
*/
